#Aliases for improved directory listing
#The --color=tty option shows items in different colors according to their type.
#The -F option appends a symbol after entries to indicate their types.
alias ls='ls -F --color=tty' #Regular ls
alias l.='ls -dF .[a-zA-Z0-9]* --color=tty' #Shows only dotfiles
alias ll='ls -lhF --color=tty' #Long listing

#Use human-readable filesizes
alias duh='du -h'
alias dfu='df -h'

#Miscellaneous & common typos
alias bzip2='bzip2 -v'
alias j='jobs'
alias cd..='cd ..'
alias ccd='cd ~/ && clear'
alias hist='history | grep $1'
alias n='nautilus $1'
alias cc='clear'

#Automatically list directory after each cd
cd() {
	if [ -n "$1" ]; then
		builtin cd "$@" && ls
	else
		builtin cd ~ && ls
	fi
}

#Aptitude aliases
alias acsh='apt-cache show'
alias acs='apt-cache search'

alias sources='sudo vim /etc/apt/sources.list &'

#Git aliases
alias ga='git add'
alias gp='git push'
alias gl='git log'
alias gst='git status'
alias gd='git diff'
alias gdc='git diff --cached'
alias gm='git commit -m'
alias gam='git commit -am'
alias gb='git branch'
alias gc='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gpu='git pull'
alias gcl='git clone'
alias glod='git log --oneline --decorate'
alias gs='git show --full-index'
alias gsno='git show --name-only'

alias activate='. sandbox/bin/activate'
alias startit='python manage.py runserver'
